:host {
    display: block;
    border: 1px solid black;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

div > div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input {
    margin-bottom: 10px;
}
