<div class="container">
  <div class="main-content">
    <app-matchmaking></app-matchmaking>
    <app-lobby></app-lobby>
    <app-battleship></app-battleship>
    <app-replays></app-replays>
  </div>
  <div class="sidebar">
    <app-auth></app-auth>
    <app-profile></app-profile>
    <app-leaderboard></app-leaderboard>
    <app-friends-list></app-friends-list>
    <app-guilds></app-guilds>
    <app-tournaments></app-tournaments>
    <app-quests></app-quests>
    <app-chat></app-chat>
  </div>
</div>
