<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Gaming Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/games" routerLinkActive="active">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tournaments" routerLinkActive="active">Tournaments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/leaderboards" routerLinkActive="active">Leaderboards</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <!-- Placeholder: Show different links based on login status -->
        <ng-container *ngIf="!isLoggedIn; else userSpecificLinks">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
        </ng-container>
        <ng-template #userSpecificLinks>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome, {{ username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
              <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
              <li><a class="dropdown-item" routerLink="/wallet">Wallet</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><button class="dropdown-item" type="button" (click)="logout()">Logout</button></li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
